<html>
	<head>
    	<link rel="stylesheet" href="style.css">
	</head>
	<div class="mainContainer">
		<div class="contentBox" id="header">
			<h1>Webcomic Rating Service</h1>
		</div>
		<div class="contentBox" id="login">
			Hi, <strong>User</strong>! Login information will appear here eventually.
		</div>
		<div class="contentBox" id="search">
			The search feature will appear here eventually!
		</div>
		<div class="contentBox" id="content">

			<h1>Listing comics</h1>
				<table class="listingContainer">

					<% @comics.each do |comic| %>
  				<thead>
						    				
						<tr>
      				<th colspan="3" width="30%"><%= comic.name %></th>
      				<th width="10%">Author</th>
				      <th width="20%">URL</th>
     					<th width="10%">Genre</th>
				      <th width="10%">Art</th>
				      <th width="10%">Story</th>
      				<th width="10%">Overall</th>
    				</tr>
  				</thead>

  				<tbody>
						<tr>
						<td colspan="9">
    				<table class="webComicSection">
      				<tr class="topRow">
								<td colspan="3" width="30%"><%= link_to 'Show', comic %> - 
																						<%= link_to 'Edit', edit_comic_path(comic) %> - 
																						<%= link_to 'Destroy', comic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        				<td width="10%"><%= comic.author %></td>
        				<td width="20%"><%= comic.url %></td>
				        <td width="10%"><%= comic.genre %></td>
				        <td width="10%"><%= comic.rating_art %></td>
				        <td width="10%"><%= comic.rating_story %></td>
				        <td width="10%"><%= comic.rating_overall %></td>
				      </tr>
							<tr>
								<td class="tdSynopsis" width="10%">Synopsis</td>
								<td colspan="11" width="90%"><%= comic.synopsis %></td>
						</table>
						</td>
						</tr>
				    <% end %>
				  </tbody>
				</table>

				<br>

				<%= link_to 'New Comic', new_comic_path %>
		</div>
	</div>
</html>



