

<p>
  <h1><%= @comic.name %></h1>
</p>

<% if @comic.user_id == nil %>
This comic isn't associated with a user. <%= link_to "Is #{@comic.name} yours?", "/claims/new?comic_id=#{@comic.id}" %>
<% end %>

<p>
  <strong>Author:</strong>
  <%= @comic.format_author_links_string.html_safe %>
</p>

<p>
  <strong>Url:</strong>
  <%= @comic.url %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @comic.synopsis %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @comic.genre %>
</p>

<p>
	<% if @comic.rating_art != nil %>
  <strong>Rating Art:</strong>
	<%= @comic.rating_art %>
	<% if user_signed_in? && current_user.get_has_rated(@comic) != nil %>
	<strong>You Rated:</strong>
	<%= current_user.get_has_rated(@comic)[0] %>
	<% end %>
	<% else %>
	This comic's art hasn't been rated.
	<% end %>
</p>

<p>
	<% if @comic.rating_art != nil %>
  <strong>Rating Story:</strong>
  <%= @comic.rating_story %>
	<% if user_signed_in? && current_user.get_has_rated(@comic) != nil %>
	<strong>You Rated:</strong>
	<%= current_user.get_has_rated(@comic)[1] %>
	<% end %>
	<% else %>
	This comic's story hasn't been rated.
	<% end %>
</p>

<p>
	<% if @comic.rating_art != nil %>
  <strong>Rating Overall:</strong>
  <%= @comic.rating_overall %>
	<% if user_signed_in? && current_user.get_has_rated(@comic) != nil %>
	<strong>You Rated:</strong>
	<%= current_user.get_has_rated(@comic)[2] %>
	<% end %>
	<% else %>
	This comic overall hasn't been rated.
	<% end %>
</p>
<p>
	<strong>Update Schedule:</strong>
	<%= @comic.update_schedule %>
</p>

<p>
  <strong>Page Layout:</strong>
  <%= @comic.page_layout %>
</p>

<% if (user_signed_in? && (current_user.is_author_of(@comic) || User.is_admin?(current_user))) %>
<%= link_to 'Edit', edit_comic_path(@comic) %> | 
<%= link_to 'Delete', @comic, :method => :delete, data: {confirm: "Are you sure you want to delete #{@comic.name}? This can't be undone."}, :id=>"Delete_#{@comic.name}" %> |
<% end %>
<%= link_to 'Back', comics_path %>
